#menu_img{
    height: 100%;
}

#menu_close{
    left: 2%;
    /* position: absolute; */
    display: flex;
    width: 5vw;
    flex-direction: row;
    justify-content: center;
    height: 4vh;
    margin-top: 2vh;
}

#menu_open{
    left: 0%;
    display: flex;
    position: fixed;
    width: 25%;
    flex-direction: column;
    height: 100vh;
    /* padding-top: 2vh; */
    align-items: center;
    z-index: 1;
    background-color: rgb(31, 31, 31);
}


#menu_options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a{
    text-align: center;
    width: 100%;
    margin-bottom: 1px;
    border-bottom: 1px solid rgb(50, 50, 50);
    font-family: 'Cinzel';
    font-size: 3vh;
}


#close_img{
    padding: 2%;
    
}