#menu_img{
    width: 5vh;
    left: 2vw;
}



#menu_close{
   /*  width: 5vw; */
    flex-direction: column;
    
    height: 100%;
    margin-top: 2vh;
    background-color: white;
}

#menu_open{
    left: 0%;
    display: flex;
    position: fixed;
    width: 25%;
    flex-direction: column;
    height: 100vh;
    /* padding-top: 2vh; */
    align-items: center;
    z-index: 1;
    /* background-color: rgb(31, 31, 31); */
}


#menu_options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a{
    text-align: center;
    width: 100%;
    margin-bottom: 1px;
    border-bottom: 1px solid black;
    font-family: 'Cinzel';
    font-size: 3vh;
}


#close_img{
    padding: 2%;
    height: 5vh;
}

#close_img:hover{
    cursor: pointer;
}